<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>

    <title>A-new-Page</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
  </head> -->

  <div class="container">

    <div id="newpage">



    <!--    HEADER  -->
          <header class="adminNewPage"><!--- Nav Bar -->
            <a href="#/mainpage" id="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a><!-- BACK ARROW -->
              <h1>BeeFF</h1>
            <ul>
              <a href="#/">
              <img src="#" id="logo"></a>
              <a href="#">
              <li class="link">Cart</a></li>
              <!-- <button>Cart</button></li> -->
              <a href="#">
              <li class="link">Person</a></li>
              <!-- <button>Home</button></li> -->
              <a href="#">
              <li class="link">Home</a></li>
              <!-- <button>Buyer</button></li> -->
            <ul>
        </header>

        <!--   IMAGE  -->
          <!-- <div ng-submit=()> -->
        <div ng-repeat="allBees in allBees">
            <div class="section group">

              <div class="col span_1_of_2">
                <form ng-submit="submit()">
                <!-- <a href='#/'> -->
                <img ng-src"{{allBees.image}}" id="input-image" ng-model="imageallBees"/></a>
                <!-- <a href="#/"> -->
                <h5>{{allBees.name}}</h5>
                <div class="name"  ng-model="nameAllBees"></div>
                </form>

              </div>


        <!--  PRICE AND DESCRIPTION -->
            <div class="col span_1_of_2">
              <!-- <ul id="admin-new"> -->
              <form ng-submit="submit()">
                Add New Item:
                  <!-- <li class="admin-new-li"> -->
                    <!-- <a href="#/"> -->
                    <input type="price"  id="input-price" placeholder="{{allBees.price|currency}}" ng-model="priceallBees"/>

                    <!-- <a href="#/"> -->
                  <input type="text" id="input-description" placeholder="{{allBees.description}}" ng-model="descriptionallBees"/>
                  <input type = "submit" id = "submit" value="Submit"/>
              </form>
            </div>
                  <!-- </a> -->
                <!-- </li> -->

                <div class='new-btn'>
                <a href="#/mainpage">
                <button class="new-page-btn">Save</button></a>
              </div>
            </div>
        </div>














  </body>
</html>
