<!-- <html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
    <title>A-Edit-Page</title>
    <link rel="stylesheet" href="assets/styles/styles.css">

  </head>

  <body> -->

    <div class="container">

    <div id="editpage">


<!--    HEADER  -->
      <header class="adminEditPage"><!--- Nav Bar -->
      <a href="#/mainpage" id="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a><!-- BACK ARROW -->
        <ul>
          <a href="#/">
          <img src="#" id="logo">Logo</a>
          <li class="link"><a href="#"></a>
            <button>Cart</button></li>
          <li class="link"><a href="#"></a>
            <button>Home</button></li>
          <li class="link"><a href="#"></a>
            <button>Buyer</button></li>
        <ul>
    </header>




<!--   IMAGE  -->
    <div class="section group">
      <div class="col span_1_of_2">
      <form class="new-list-form" action="index.html" method="post">
        <a href="#">
        <img src="{{img}}" id="input-image" ng-show="editing" type="image" ng-model="image"/>Photo</a><!-- image -->
      </form>
     </div>


<!--  PRICE AND DESCRIPTION -->
    <div class="col span_1_of_2">
      <ul id="admin-edit">
          <li class="admin-edit-li">
            <!-- <a href="#/"> -->
            <input id="input-price" ng-show="editing" type="price" placeholder"{{price}}" ng-model="price"/>
            <input id="input-description" ng-show="editing" type="text"  placeholder="{{description}}" ng-model="description"/>
          </div>
          </a>
        </li>

        <!-- <li class='edit-btn'> -->
          <a href="#/mainpage">
          <button class="save-item">Save</button>
        </a>
      <!-- </li> -->
    </ul>
</div>

</div>








<!--


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>

  </body>
</htm> -->
