<!-- <html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
    <title>A-Edit-Page</title>
    <link rel="stylesheet" href="assets/styles/styles.css">

  </head>

  <body> -->

    <div class="container">

    <div id="editpage">



<!--    HEADER  -->
      <header class="adminEditPage"><!--- Nav Bar -->
      <a href="#/mainpage" id="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a><!-- BACK ARROW -->
      <h1>Less Is More</h1>
        <ul>
          <a href="#/">
          <img src="#" id="logo"></a>
          <a href="#">
          <li class="link">Cart</a></li>
          <!-- <button>Cart</button></li> -->
          <a href="#">
          <li class="link">Person</a></li>
          <!-- <button>Person</button></li> -->
          <a href="#">
          <li class="link">Home</a></li>
          <!-- <button>Home</button></li> -->
        <ul>
    </header>




<!--   IMAGE  -->
    <div class="section group">
      <div class="col span_1_of_2">
      <form class="new-list-form" action="index.html" method="post">
        <a href='#/'>
        <img src="{{item.img}" id="input-image" type="image" ng-model="image"/></a>
        <!-- <a href="#/"> -->
        <h4>Name</h4>
        <div class="name" placeholder"{{item.name}}" ng-model="name"></div>
      </form>
     </div>


<!--  PRICE AND DESCRIPTION -->
<div class="col span_1_of_2">
  <ul id="admin-new">
      <li class="admin-new-li">
        <!-- <a href="#/"> -->
        <h3>Price:</h3><input type="price"  id="input-price" placeholder"{{item.price}}" ng-model="price"/>
        <!-- <a href="#/"> -->
        <h3>Description:</h3><input type="text" id="input-description" placeholder="{{item.description}}" ng-model="description"/>

      </div>
      <!-- </a> -->
    </li>


        <!-- <li class='edit-btn'> -->
          <a href="#/mainpage">
          <button class="save-item-btn">Save</button>
        </a>
      <!-- </li> -->
    </ul>
</div>

</div>








<!--


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>

  </body>
</htm> -->
