<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
    <title>Main</title>
    <link rel="stylesheet" href="assets/styles/styles.css">

  </head>

  <body> -->
    <div class="container">

      <div id="mainpage">

    <h2>MainAdminPage</h2>

      <header class="mainAdmPage"><!-- Nav Bar -->

      <ul>
      <a href="#/">
      <button id="logo">Logo</button></a>
      <li class="link"><a href="#"></a>
      <button>Cart</button></li>
      <li class="link"><a href="#"></a>
        <button>Home</button></li>
      <li class="link"><a href="#"></a>
        <button>Consummer</button></li>
      <ul>
    </header>


<!--  IMAGE -->
    <div class="section group">
      <!-- <a href="#/editpage"> -->
      <div class="col span_1_of_2">
        <!-- <a href="#/editpage"> -->
      <form class="new-list-form" action="index.html" method="post">
        <input class="input-form" id="img" placeholder="{{img}}" ng-model="img">
        <img src="" alt="" /></a><!-- image -->
      </form>
      </div>


<!--    DESCRIPTION AND PRICE -->
      <div class="col span_1_of_2">
        <form class="new-list-form" action="index.html" method="post">
        <input type="text" class="input-form" id="description-m" placeholder="{{description}}" ng-model="description"><!--- description -->
        <input type="text" class="input-form" id="price-m" placeholder="{{price}}" ng-model="price"><!-- price -->
        <a href='#/editpage'>
        <button class="main-edit"><span>Edit</span></button></a>
      </form>
    </div>
  </div>


<!--   AN EXTRA ROW.  I DON'T THINK WE ARE GOING TO NEED TO HARD CODE AN ADDITIONAL ROW, THOUGH  -->
  <div class="section group">
    <!-- <a href="#/editpage"> -->
    <div class="col span_1_of_2">
      <form class="new-list-form" action="index.html" method="post">
      <input class="input-form" id='img' placeholder="{{img}}" ng-model="img">
      <img src="" alt="" /></a><!-- image -->
    </form>
    </div>

    <div class="col span_1_of_2">
      <form class="new-list-form" action="index.html" method="post">
      <input type="text" class="input-form" placeholder="{{description}}" ng-model="descripton"><!--- description -->
      <input type="text" class="input-form" placeholder="{{price}}" ng-model="price"><!--price  -->
      <a href='#/editpage'>
      <button class=""><span>Edit</span></button></a>
    </form>
  </div>
</div>


<!--   ADD ANOTHER ITEM  -->
    <a href='#/newpage'>
    <button class="add-new-item"><span>Add Another</span></button></a>

  </div><!-- end of mainpage -->
</div><!-- end of container -->
<!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script> -->

    <!-- <script src="assets/js/app.js/"></script> -->
    <!-- <script src="assets/js/controller.js"></script> -->
    <!-- </body>
  </html> -->
