<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
    <title>Main</title>
    <link rel="stylesheet" href="assets/styles/styles.css">

  </head>

  <body> -->
    <div class="container">

      <div id="mainpage">



      <header class="mainAdmPage"><!-- Nav Bar -->
        <h1>BFF</h1>

      <ul class="header"><!-- control color-->
      <a href="#/">
      <img src="#"></a>


      <li class="link"> <a href="#">Cart</li></a>
      <!-- <button>Cart</button></li> -->

      <li class="link"><a href="#">Buyer</li></a>
      <!-- <button>Buyer</button></li> -->

      <li class="link"><a href="#">Home</li></a>
      <!-- <button>Homer</button></li> -->
      <ul>
    </header>


<!--  IMAGE -->
<div ng-repeat="item in items">
<div class="section group">
 <!-- <a href="#/editpage">  -->
 <!-- <div ng-repeat="item in items"> -->
     <div class="col span_1_of_2">
       <!-- <form class="new-list-form" action="index.html" method="post"> -->
       <!-- <a href='#/'> -->

       <img ng-src="{{item.img}}" id="input-image" type="image" ng-model="imageItem"/>
       <h5>{{item.name}}</h5>
       <div class="name"  ng-model="nameItem"></div>
     <!-- </form> -->
     </div>

     <div class="col span_1_of_2">
       <!-- <form class="new-list-form" action="index.html" method="post"> -->
       <input type="text"  id="input-description" placeholder="{{item.description}}" ng-model="descripton">
       <!-- </form> -->
       <a href='#/editpage'>
       <button class="main-edit"><span>Edit</span></button></a>

    </div>
  <!-- </div> -->
</div>
</div>
<!---   end of row 1 --->



  <!-- AN EXTRA ROW.  I DON'T THINK WE ARE GOING TO NEED TO HARD CODE AN ADDITIONAL ROW, THOUGH  -->
   <!-- <div class="section group"> -->
    <!-- <a href="#/editpage">  -->
    <!-- <div class="col span_1_of_2"> -->
      <!-- <form class="new-list-form" action="index.html" method="post"> -->
      <!-- <a href='#/'> -->
      <!-- <img src="{{item.img}" id="input-image" type="image" ng-model="image"/></a> -->
    <!-- </form> -->
    <!-- </div> -->

    <!-- <div class="col span_1_of_2"> -->
      <!-- <form class="new-list-form" action="index.html" method="post"> -->
      <!-- <input type="text" id="input-description" placeholder="{{item.description}}" ng-model="descripton"> -->
      <!-- </form> -->
      <!-- <a href='#/editpage'> -->
      <!-- <button class="main-edit"><span>Edit</span></button></a> -->
  <!-- </div> -->
<!-- </div> -->


<!--   ADD ANOTHER ITEM  -->
    <a href='#/newpage'>
    <button class="add-new-item"><span>Add Another</span></button></a>

  </div><!-- end of mainpage -->
</div><!-- end of container -->
<!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script> -->

    <!-- <script src="assets/js/app.js/"></script> -->
    <!-- <script src="assets/js/controller.js"></script> -->
    <!-- </body>
  </html> -->
