.container {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0em 4em 0em 4em;
  border: solid 1px black; }

/**********************************************/
/***    GLOBAL FORM  *************************/
h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: white;
  font-family: "Lato", Verdana, sans-serif; }

/*******  MAINPAGE STYLING  ****/
#mainpage {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #mainpage .mainAdmPage {
    background-color: black;
    /**  header nav-bar color  **/
    padding-top: 3em;
    border-bottom: 2px solid grey; }
    #mainpage .mainAdmPage button {
      position: relative;
      width: 4em; }
    #mainpage .mainAdmPage .link {
      display: inline-block;
      float: right;
      width: 4em;
      height: 4em;
      cursor: pointer; }
  #mainpage #input-image {
    margin-left: 2em;
    width: 10em;
    height: 10em; }
  #mainpage #input-description {
    margin-top: 1.5em;
    width: 40em;
    height: 5em; }
  #mainpage .main-edit {
    margin-top: 0.5em;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer; }
  #mainpage .add-new-item {
    border-radius: 5px;
    margin-left: 50em;
    width: 20em;
    height: 3em;
    cursor: pointer; }

/*********   NEWPAGE STYLING *********/
#newpage {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #newpage .adminNewPage {
    padding-top: 3em;
    border-bottom: 2px solid grey;
    background-color: darkgrey;
    /****  header/nav-bar color **/ }
    #newpage .adminNewPage #back-button {
      padding: 0.2em 0.5em;
      color: grey;
      border: none;
      background: none;
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block; }
    #newpage .adminNewPage button {
      position: relative;
      width: 4em; }
    #newpage .adminNewPage .link {
      display: inline-block;
      float: right;
      width: 4em;
      height: 4em;
      cursor: pointer; }
  #newpage #input-image {
    margin-left: 2em;
    width: 10em;
    height: 10em; }
  #newpage #input-price {
    margin-top: 2em;
    width: 10em;
    height: 5em; }
  #newpage #input-description {
    margin-top: 1.5em;
    width: 40em;
    height: 5em; }
  #newpage .new-page-btn {
    border-radius: 5px;
    margin-left: 45em;
    width: 20em;
    height: 3em;
    cursor: pointer; }

/****************************************************/
#editpage {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #editpage .adminEditPage {
    padding-top: 3em;
    border-bottom: 2px solid grey;
    background-color: #90C9D4;
    /** header nav-bar color  **/ }
    #editpage .adminEditPage #back-button {
      padding: 0.2em 0.5em;
      color: grey;
      border: none;
      background: none;
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block; }
    #editpage .adminEditPage button {
      position: relative;
      width: 4em; }
    #editpage .adminEditPage .link {
      display: inline-block;
      float: right;
      width: 4em;
      height: 4em; }
  #editpage #input-image {
    margin-left: 2em;
    width: 10em;
    height: 10em; }
  #editpage #input-price {
    margin-top: 2em;
    width: 10em;
    height: 5em; }
  #editpage #input-description {
    margin-top: 1.5em;
    width: 40em;
    height: 5em; }
  #editpage .save-item-btn {
    border-radius: 5px;
    margin-left: 45em;
    width: 20em;
    height: 3em;
    cursor: pointer; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%; }

.span_1_of_2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
