.container{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;;
  width: 100%;
  margin: 0em 4em 0em 4em;
  // border: 2px solid rgba(0, 0, 0, 0.5);
  // border-radius: 11px;
  border: solid 1px black;
}
/**********************************************/
/***    GLOBAL FORM  *************************/
h1{
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: white;
  font-family: "Lato", Verdana, sans-serif;
}



/*******  MAINPAGE STYLING  ****/
#mainpage{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  // border-radius: 10px;
  .mainAdmPage{
    background-color: black;/**  header nav-bar color  **/
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;
      button{
      position: relative;
      width: 4em;
      // height: 4em;
      }
      .link{
        display: inline-block;
        float: right;
        width: 4em;
        height: 4em;
        cursor: pointer;
      }
  }
  #input-image{
    margin-left: 2em;
    width: 10em;
    height: 10em;
  }
  #input-description{
    margin-top: 1.5em;
    width: 40em;
    height: 5em;
  }
  .main-edit{
    margin-top: 0.5em;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
  }
  .add-new-item{
    border-radius: 5px;
    margin-left: 50em;
    width: 20em;
    height: 3em;
    cursor:pointer;

  }

}




/*********   NEWPAGE STYLING *********/
#newpage{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  .adminNewPage{
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;
    background-color: darkgrey;/****  header/nav-bar color **/
      #back-button{
        padding: 0.2em 0.5em;
        color: grey;
        border: none;
        background: none;
        font-size: 2em;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
          }
          button{
          position: relative;
          width: 4em;
          // height: 4em;
          }
          .link{
            display: inline-block;
            float: right;
            width: 4em;
            height: 4em;
            cursor: pointer;
          }
  }
    #input-image{
      margin-left: 2em;
      width: 10em;
      height: 10em;
        }
    #input-price{
      margin-top: 2em;
      width: 10em;
      height: 5em;
        }
    #input-description{
      margin-top: 1.5em;
      width: 40em;
      height: 5em;
        }
    .new-page-btn{
      border-radius: 5px;
      margin-left: 45em;
      width: 20em;
      height: 3em;
      cursor:pointer;

    }
}



/****************************************************/
#editpage{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  .adminEditPage{
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;
    background-color: #90C9D4;/** header nav-bar color  **/
      #back-button{
        padding: 0.2em 0.5em;
        color: grey;
        border: none;
        background: none;
        font-size: 2em;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
          }
          button{
          position: relative;
          width: 4em;
          // height: 4em;
          }
          .link{
            display: inline-block;
            float: right;
            width: 4em;
            height: 4em;
          }
    }
    #input-image{
      margin-left: 2em;
      width: 10em;
      height: 10em;
        }
    #input-price{
      margin-top: 2em;
      width: 10em;
      height: 5em;
        }
    #input-description{
      margin-top: 1.5em;
      width: 40em;
      height: 5em;
        }
        .save-item-btn{
          border-radius: 5px;
          margin-left: 45em;
          width: 20em;
          height: 3em;
          cursor:pointer;
        }
}

//   .homepage-li{
//     position: relative;
//     display: flex;
//     margin: 1em 0 1em 1em;
//   }
//   .left-side{
//     text-align: left;
//     float: left;
//     height: 5em;
//     width: 20%;
//     display: inline-block;
//     background-color: $green;
//     font-weight: 700;
//     color: white;
//
// }


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
