<<<<<<< HEAD
.container {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 90%;
  width: 90%;
  margin: 0em 4em 0em 4em;
  border: solid 1px black; }

/**********************************************/
/***    GLOBAL FORM  *************************/
h1 {
  float: left;
  font-size: 5em;
  font-weight: normal;
  color: #FAF7CF;
  font-family: "Grand Hotel", Verdana, sans-serif; }

.fa.fa-cogs {
  padding-top: 0.2em;
  color: white;
  font-size: 20px; }

/**************   LANDING PAGE   ****************/
/***********************  END OF Landing Page  *********/
/*******  MAIN ADMIN PAGE STYLING  ****/
#mainpage {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #mainpage .mainAdmPage {
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");
    /**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    border-bottom: 2px solid grey; }
    #mainpage .mainAdmPage .header {
      background-color: black;
      height: 4em; }
    #mainpage .mainAdmPage .link a {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 25px;
      text-decoration: none;
      color: white;
      display: inline-block;
      float: right;
      width: 4em;
      height: 6em;
      cursor: pointer; }
  #mainpage #input-image {
    margin-left: 2em;
    width: 20em;
    height: 20em; }
  #mainpage #input-description {
    margin-top: 1.5em;
    width: 40em;
    height: 5em; }
  #mainpage .main-edit {
    margin-top: 0.5em;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer; }
  #mainpage .add-new-item {
    border-radius: 5px;
    margin-left: 50em;
    width: 20em;
    height: 3em;
    cursor: pointer; }

/************   end of adminNewPage  ******/
/*********   NEWPAGE STYLING *********/
#newpage {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #newpage .adminNewPage {
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");
    /**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    border-bottom: 2px solid grey; }
    #newpage .adminNewPage #back-button {
      padding: 0.2em 0.5em;
      color: white;
      border: none;
      background: none;
      font-size: 2.5em;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block; }
    #newpage .adminNewPage .header {
      background-color: black;
      height: 4em; }
    #newpage .adminNewPage .link a {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 25px;
      text-decoration: none;
      color: white;
      display: inline-block;
      float: right;
      width: 4em;
      height: 6em;
      cursor: pointer; }
  #newpage #input-image {
    margin-left: 2em;
    width: 20em;
    height: 20em; }
  #newpage .name {
    margin-left: 20em; }
  #newpage #input-price {
    margin-top: 0em;
    width: 6em;
    height: 2em; }
  #newpage #input-description {
    margin-top: .5em;
    width: 23em;
    height: 2em; }
  #newpage .new-page-btn {
    border-radius: 5px;
    cursor: pointer; }

/***************   EDIT PAGE STYLING  *********************/
#editpage {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black; }
  #editpage .adminEditPage {
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");
    /**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    border-bottom: 2px solid grey; }
    #editpage .adminEditPage #back-button {
      padding: 0.2em 0.5em;
      color: white;
      border: none;
      background: none;
      font-size: 2.5em;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block; }
    #editpage .adminEditPage .header {
      background-color: black;
      height: 4em; }
    #editpage .adminEditPage .link a {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 25px;
      text-decoration: none;
      color: white;
      display: inline-block;
      float: right;
      width: 4em;
      height: 6em;
      cursor: pointer; }
  #editpage #input-image {
    margin-left: 2em;
    width: 20em;
    height: 20em; }
  #editpage .name {
    margin-left: 20em; }
  #editpage #input-price {
    margin-top: 0em;
    width: 6em;
    height: 2em; }
  #editpage #input-description {
    margin-top: .5em;
    width: 23em;
    height: 2em; }
  #editpage .save-item-btn {
    border-radius: 5px;
    margin-left: 45em;
    width: 20em;
    height: 3em;
    cursor: pointer; }

/***********  END of edit page styling *************/
/********  GRID SET-UP FROM RESPONSE GRID ********/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%; }

.span_1_of_2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%; } }
=======

>>>>>>> e118c25d695b496b151b7e4d26a47c7c25167dec

/*# sourceMappingURL=styles.css.map */
