.container{

  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 90%;
  width: 90%;
  margin: 0em 4em 0em 4em;
  // border: 2px solid rgba(0, 0, 0, 0.5);
  // border-radius: 11px;
  border: solid 1px black;
}
/**********************************************/
/***    GLOBAL FORM  *************************/
h1{
  float: left;
  font-size: 5em;
  font-weight: normal;
  color: #FAF7CF;
  font-family: "Grand Hotel", Verdana, sans-serif;
}

.fa.fa-cogs{
  padding-top: 0.2em;
  color: white;
  font-size: 20px;

}



/**************   LANDING PAGE   ****************/
// .landingPageHead {
//   font-family: Grand Hotel, cursive;
//   font-size: 60px;
//   margin-left: 1em; }
//
// .login-container {
//   border: solid 2px black;
//   width: 20em;
//   padding: 10% 10% 10% 15%; }
//
// #adminRoute, #shopperRoute {
//   text-align: center;
//   border: solid 2px black;
//   background-color: black;
//   color: #feffff;
//   width: 18em;
//   padding: 5% 10%;
//   margin: 7%; }
//
// .topPad {
//   height: 1em;
//   width: 100%;
//   background-color: #F6C555; }
//
// .topWords {
//   height: 5em;
//   width: 100%;
//   background-color: #F6C555; }
//
// .topLinks {
//   color: #feffff; }
//
// h2 {
//   text-align: center;
//   width: 30%;
//   margin-left: 60%; }
//
// .beeIcon {
//   width: 5em;
//   height: 5em;
//   display: inline-block;
//   padding: 2em;
//   float: right; }
//
//   .nav {
//     margin-right: 2em;
//     float: right;
//     background-color: #F6C555;
//     color: #feffff;
//     border: solid 2px #feffff;
//     padding: 1em;
//     font-family: Roboto;
//     letter-spacing: 1.5px; }
//
//   .nav:active {
//     color: #feffff; }
//
//   .nav:visited {
//     text-decoration: none;
//     color: #feffff; }
/***********************  END OF Landing Page  *********/





/*******  MAIN ADMIN PAGE STYLING  ****/
#mainpage{
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  // border-radius: 10px;
  .mainAdmPage{
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");/**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;

      .header{
        background-color: black;
        height: 4em;
      }
      .link a{
        padding-left: 1em;
        padding-right: 1em;
        font-size: 25px;
        text-decoration: none;
        color: white;
        display: inline-block;
        float: right;
        width: 4em;
        height: 6em;
        cursor: pointer;
      }

  }
  #input-image{
    margin-left: 2em;
    width: 20em;
    height: 20em;
  }
  #input-description{
    margin-top: 1.5em;
    width: 40em;
    height: 5em;
  }
  .main-edit{
    margin-top: 0.5em;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
  }
  .add-new-item{
    border-radius: 5px;
    margin-left: 50em;
    width: 20em;
    height: 3em;
    cursor:pointer;

  }
}
/************   end of adminNewPage  ******/





/*********   NEWPAGE STYLING *********/
#newpage{
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  .adminNewPage{
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");/**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;
    #back-button{
      padding: 0.2em 0.5em;
      color: white;
      border: none;
      background: none;
      font-size: 2.5em;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;

    }
    .header{
        background-color: black;
        height: 4em;
    }
      .link a{
        padding-left: 1em;
        padding-right: 1em;
        font-size: 25px;
        text-decoration: none;
        color: white;
        display: inline-block;
        float: right;
        width: 4em;
        height: 6em;
        cursor: pointer;
      }
  }
  #input-image{
      margin-left: 2em;
      width: 20em;
      height: 20em;
      }
        .name{
          margin-left: 20em;
        }
    #input-price{
      margin-top: 0em;
      width: 6em;
      height: 2em;
        }
    #input-description{
      margin-top:.5em;
      width: 23em;
      height: 2em;
        }
        .new-page-btn{
          border-radius: 5px;

          // margin-left: 45em;
          // width: 3em;
          // height: 3em;
          cursor:pointer;

    }

}



/***************   EDIT PAGE STYLING  *********************/
#editpage{
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  .adminEditPage{
    background-image: url("http://i2.mirror.co.uk/incoming/article7914302.ece/ALTERNATES/s615b/A-swarm-of-bees.jpg");/**  header nav-bar color  **/
    background-position: center;
    height: 6em;
    padding-top: 3em;
    // margin: 0 .6em .6em;
    border-bottom: 2px solid grey;
    #back-button{
      padding: 0.2em 0.5em;
      color: white;
      border: none;
      background: none;
      font-size: 2.5em;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;

    }
    .header{
        background-color: black;
        height: 4em;
    }
      .link a{
        padding-left: 1em;
        padding-right: 1em;
        font-size: 25px;
        text-decoration: none;
        color: white;
        display: inline-block;
        float: right;
        width: 4em;
        height: 6em;
        cursor: pointer;
      }
  }
  #input-image{
      margin-left: 2em;
      width: 20em;
      height: 20em;
      }
        .name{
          margin-left: 20em;
        }
    #input-price{
      margin-top: 0em;
      width: 6em;
      height: 2em;
        }
    #input-description{
      margin-top:.5em;
      width: 23em;
      height: 2em;
        }
        .save-item-btn{
          border-radius: 5px;
          margin-left: 45em;
          width: 20em;
          height: 3em;
          cursor:pointer;
        }
}
/***********  END of edit page styling *************/


/********  GRID SET-UP FROM RESPONSE GRID ********/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
